@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    border: 2px solid #684591;
    background-color: rgb(204, 145, 206);
    padding: 10px;
}
.item {
    border: 2px solid #684591;
    background-color: rgb(255, 250, 184);
    padding: 10px;
}

/* align-self 
개별 아이템 세로정렬*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    gap: 10px
}
.item {
    align-self: center;
}